<div class="container">
  <div class="row">
    <div class="col-md-12">
      
    

      <div class="card">
        <div class="card-block">
          

          <form name="form" (ngSubmit)="login()">
              <h4 class="card-title">Login</h4>
              <div class="form-group">
                  <label class="control-label col-sm-4" for="username">Username:</label>
                <div class="col-sm-8 pull-right">
                  <input name="username" class="form-control" id="username" [(ngModel)]="model.username" placeholder="Username">
                </div>
              </div>

              <br/><br/>

              <div class="form-group">
                  <label class="control-label col-sm-4" for="password">Password:</label>
                <div class="col-sm-8 pull-right">
                  <input name="password" class="form-control" id="password" [(ngModel)]="model.password" placeholder="Password">
                </div>
              </div>

              <br/><br/>
            <button type="submit" id="submit">Login</button> 
            </form>
        </div>
      </div>


    </div>
  </div>
</div>